body{
    background-color: rgb(211, 216, 178);
    background-image: url("../images/background_image.jpg");
    color: rgb(16, 74, 125);
    font-size: 20px;
    animation: slidein 0.5s ease-in;
    font-family: "Inter", sans-serif;
}
 h1{
    font-size: 38pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 15px;
 }

 h2{
    font-size: 24pt;
    font-family: cursive;
    color:rgb(25, 96, 96);
    margin-top: 15px;
    
 }

 h3{
    font-size: 20pt;
    font-family:fantasy;
    color:rgb(65, 99, 172);
    margin-top: 20px;
 }

 img{
    border: 5px solid;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
    height: 300px;
    width: 90%;
    
 }

 li{
   margin-left: 10%;
   color: #00008b;
   height: 10px;
 }

 nav{
   border: 2px solid black;
   background-color: rgb(211, 216, 178);
 }

 .still{
  display:none;
 }

 nav li{
   text-decoration: underline solid rgb(37, 9, 193);
   display: inline-block;
   color: #101a87;
 }

 .gallery{
   border: 5px solid;
   padding: 5px;
   margin: 20px;
   height: 200px;
   width: 15%vw;
 }

 #skip{
  position:absolute;
  left:-500px;
  top: 50px;
  text-decoration: underline solid blue;
 }

 #skip:focus{
  left: 200px;
 }

 #current{
  background-color: #ffffff;
  font-size: 22px;
 }

 .grid{
  display: grid;
  grid-template-columns: 1fr;
}
  .grid > div {
    
    text-align: center;
      
    font-size: 17px;
    height: 50vh;
    width: 100%;
      
  }


@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes slideinleft {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideinup {
  from {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0%);
  }
}
@media (prefers-reduced-motion: reduce) {
  body{
    animation:none;
  }
  .left{
    animation:none;
  }
  .right{
    animation:none;
  }
  .grid>div{
    animation:none;
  }
  img{
    animation:none;
  }
  .grid{
    animation:none;
  }
  .still{
    display:block;
  }
  .gif{
    display: none;
  }
}

@media only screen and (min-width: 600px){
  nav{
    border: 2px solid black;
    height: 40px;
  }
  nav li{
    text-decoration: underline solid blue;
    display: inline-block;
    font-size: 20px;
    padding-right: 80px;
    padding-top: 10px;
  }
  nav li a:hover, nav li a:focus{
    background-color: #c74f4f68;
    font-size: 25px;
  }
  #current{
    background-color: #ffffff;
    font-size: 25px;
   }
  .gallery{
    border: 5px solid;
    padding: 5px;
    margin: 20px;
    height: 450px;
    width: 15%vw;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid > div {
    font-size: 17px;
    height: 50vh;
  }
  .left{
    grid-column: 1/span 2;
    animation: slidein 0.5s ease-in;
  }

  .right{
    grid-column: 2/span 2;
    animation: slideinleft 0.5s ease-in;
  }

  figure{
    font-size: 25px;
  }

  p{
    font-size: 25px;
  }

  h2{
    font-size: 40px;
  }

  h3{
    font-size: 35px;
  }
  li{
    font-size: 30px;
    display: inline-block;
  }

  .right:hover, .right:focus, .left:hover, .left.focus{
    grid-column: 1/span 3;
  }
}

@media only screen and (min-width: 900px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid > div {
    font-size: 18px;
    height:28vh;
  }

  .gallery{
    height: 23vh;
  }

  .left{
    grid-column: auto/span 1;
    
    animation: slideinup 0.5s ease-in;
  }

  figure{
    font-size: 20px;
  }
  .right{
    grid-column: auto/span 1;
    animation: slideinup 0.5s ease-in;
  }
  .right:hover, .right:focus, .left:hover, .left.focus{
    grid-row: auto/span 2;
    grid-column: auto/span 1;
  }
  .gallery:hover{
    height: 39vh
  }

  nav{
    height: 50px;
  }
  nav li{
    font-size: 20px;
    padding-right: 15%;
    padding-top: 10px;
    margin-top: 0px;
  }
  nav li a:hover, nav li a:focus{
    background-color: #c74f4f68;
    font-size: 25px;
  }

  img{
    border: 5px solid;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
    height: 500px;
    width: 60%;
    
 }

 li{
    margin-left: 10%;
    color: #00008b;
    height: 12px;
    margin-top: 17px;
    display: block;
    font-size: 15px;
  }
}